<section id="main">
    <div>
        <h1 id="main-header" class="header"></h1>
    </div>
</section>

<section id="background">
    <div class="background">
    <div class="containergeral">
        <div class="card1">
        <app-hotel-card
        hotelName="Hotel A"
        location="New York, NYC"
        price = "$$$"
        imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+A">
        </app-hotel-card>
        </div>

   
    
        <div class="card2">
        <app-hotel-card
        hotelName="Hotel B"
        location="Los Angeles, CA"
        price = "$$$"
        imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
        </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
                hotelName="Hotel B"
                location="Los Angeles, CA"
                price = "$$$"
                imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
        <div class="card2">
            <app-hotel-card
            hotelName="Hotel B"
            location="Los Angeles, CA"
            price = "$$$"
            imageUrl="https://via.placeholder.com/600x400.png?text=Hotel+B">
            </app-hotel-card>
        </div>
    </div>
  </div>
</section>

