.atracoes-container {
  width: 100vw;
  max-width: 1140px;
  padding-top: 120px;
  padding-bottom: 50px;
  margin: auto;

  z-index: 1;
}

.atracoes-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 24px;
  background-color: white;
  border: 2px solid #ced0d4;
  border-radius: 8px;
  box-shadow: rgba(23, 22, 20, 0.04) 0 4px 20px 12px;
}

.atracoes-details {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  gap: 32px;
}

.atracoes-first-column {
  display: flex;
  flex-direction: column;
  width: 700px;

  p {
    margin: 16px 0px 0px;
  }
}

.reviews {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  margin: 16px;

  p {
    margin-top: 0px;
  }

  .reviews-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.diviser {
  width: 100%;
  margin: 12px 0px;
  border-bottom: 2px solid #ced0d4;
}

.atracoes-second-column {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 12px;

  .atracoes-info,
  .atracoes-tickets {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid;
    padding: 12px 20px;

    .info-and-icon {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
      margin-bottom: 12px;
    }

    .text-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.see-reviews {
  cursor: pointer;
  color: #006ce4;
}

.ticket-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .tickets-controller {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: 1px solid black;
    height: fit-content;
    align-items: center;
    font-family: "NATS-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    gap: 12px;

    button {
      background-color: white;
      cursor: pointer;
      border: 0px;
      padding: 8px 24px;
      height: 40px;
      color: #006ce4;

      &:hover {
        background-color: rgba(0, 108, 228, 0.3);
      }

      &:disabled {
        background-color: #ced0d4;
      }
    }

    .decrease-button {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .increase-button {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.price-total {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  justify-content: space-between;
  align-items: center;

  .total-text {
    display: flex;
    flex-direction: column;
  }

  button {
    font-family: "NATS-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    background-color: #006ce4;
    cursor: pointer;
    border: 0px;
    border-radius: 8px;
    padding: 8px 32px;
    height: 40px;
  }
}

h1 {
  font-family: "NATS-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

span {
  font-size: 20px;
}

p {
  font-size: 16px;
}

// ##########  DRAWBAR ############

app-user-evaluation {
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.45);
  backdrop-filter: blur(1px);
}

#reviews-page {
  position: absolute;
  width: 61.7vw;
  height: 100%;
  right: 0px;

  display: flex;
  flex-direction: row;
  //background-color: black;
}

.close-reviews-button {
  width: 3.85vw;
  height: 3.85vw;
  background-color: rgba($color: #6a9eda, $alpha: 1);
  border: none;
  color: #ffffff;
  border-radius: 5px 0px 0px 5px;
  margin-top: 4vh;
}

.close-reviews-button:hover {
  background-color: #4d8cd3;
  cursor: pointer;
}
