<div class="atracao-page">
  <div class="overlay" *ngIf="isDrawbarVisible">
    <section id="reviews-page">
      <button class="close-reviews-button" (click)="closeDrawbar()">X</button>

      <app-user-evaluation></app-user-evaluation>
    </section>
  </div>

  <div class="atracoes-container">
    <div class="atracoes-content">
      <mdb-carousel [indicators]="true" [interval]="5000">
        <mdb-carousel-item *ngFor="let image of currentAtracao.images">
          <img
            src="{{ image.url }}"
            class="d-block w-100"
            alt="{{ image.alt }}"
          />
        </mdb-carousel-item>
      </mdb-carousel>
      <div class="atracoes-details">
        <div class="atracoes-first-column">
          <h1>{{ currentAtracao.name }}</h1>
          <span>{{ currentAtracao.title }}</span>
          <div class="reviews">
            <img src="assets/images/Like-Icon.svg" height="20px" width="20px" />
            <div class="reviews-text">
              <p>90% curtiram isso de acordo com 42 avaliações</p>
              <p class="see-reviews" (click)="openDrawbar()">
                Ver todas as Avaliações
              </p>
            </div>
          </div>
          <div class="diviser"></div>
          <p *ngFor="let description of currentAtracao.descriptions">
            {{ description }}
          </p>
        </div>
        <div class="atracoes-second-column">
          <div class="atracoes-info">
            <h1>Horário e Local</h1>
            <div class="info-and-icon">
              <img src="assets/images/Hour-Icon.svg" />
              <div class="text-container">
                <p>{{ currentAtracao.day }}</p>
                <p>{{ currentAtracao.hour }}</p>
              </div>
            </div>
            <div class="info-and-icon">
              <img src="assets/images/Location-Icon.svg" />
              <div class="text-container">
                <p>Local de Partida: {{ currentAtracao.location }}</p>
              </div>
            </div>
          </div>
          <div class="atracoes-tickets">
            <h1>Ingressos</h1>
            <p>Ingresso Único</p>
            <p>R$ {{ currentAtracao.ticketPrice }}</p>
            <div class="price-total" *ngIf="tickets > 0">
              <p>Total</p>
              <h1>R$ {{ currentAtracao.ticketPrice * tickets }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
