@use "@angular/material" as mat;

@font-face {
  font-family: "NATS-Regular";
  src: url(assets/fonts/NATS-Regular.ttf);
}

$my-custom-typography: mat.define-typography-config(
  $font-family: "NATS-Regular",
);

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "NATS-Regular";
}

@import "mdb-angular-ui-kit/assets/scss/mdb.scss";
