.page-container {
  margin: auto;
  background-color: #f0f2f5;
  height: fit-content;
  min-height: 100vh;
  max-width: 100vw;
}

app-navbar {
  position: absolute;
  width: 100vw;
  max-width: 100vw;
}
