.list-container {
  width: 100vw;
  max-width: 1140px;
  padding-top: 120px;
  padding-bottom: 50px;
  margin: auto;
}

.list-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 24px;
  background-color: white;
  border: 2px solid #ced0d4;
  border-radius: 8px;
  box-shadow: rgba(23, 22, 20, 0.04) 0 4px 20px 12px;
}

.diviser {
  width: 100%;
  margin: 12px 0px;
  border-bottom: 2px solid #ced0d4;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}

.atracao-card {
  display: flex;
  flex-direction: row;
  padding: 16px;
  border-radius: 8px;
  gap: 32px;
  border: 2px solid #ced0d4;
  cursor: pointer;

  img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
  }

  &:hover {
    border: 2px solid #006ce4;

    h1 {
      color: #006ce4;
    }
  }

  .atracao-info {
    display: flex;
    flex-direction: column;
  }

  .atracao-details {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    gap: 80px;
  }

  .info-and-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 12px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
  }
}

.price-and-button {
  display: flex;
  justify-content: space-between;

  button {
    background: white;
    padding: 8px 24px;
    border-radius: 8px;
    border: 2px solid #006ce4;
    font-family: "NATS-Regular";
    font-size: 20px;
    color: #006ce4;

    &:hover {
      background-color: rgba(0, 108, 228, 0.3);
    }
  }
}

.price-container {
  margin-left: 36px;

  p {
    margin-bottom: 4px;
  }

  h2 {
    margin-bottom: 0px;
  }
}

h1 {
  font-family: "NATS-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

span {
  font-family: "NATS-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

p {
  font-size: 16px;
}
