* {
    max-height: 100%;
    max-width: 100%;
}

.box {
    padding-top: 140px;
    margin: 0 10%;
    display: flex;
}

.box .info {
    width: 30%;
    align-items: center;
}

.box .info .valor {
    display: flex;
    align-items: baseline;
    margin-top: 50px;
}

.box .info .valor #texto_total {
    width: fit-content;
    margin-right: 35%;
}

.box .info .valor #texto_moeda {
    width: fit-content;
    margin: 2%;
}

.box .info .valor #texto_valor {
    width: fit-content;
}

.box .info .linha {
    border-bottom: 2px solid #ced0d4;
    width: 100%;
}

.box .linha2 {
    border: 1px solid #000000;
    max-height: 100%;
    margin: 0 15%;
}

.box .info #texto_metodos {
    margin-top: 12px;
}

.box .info .metodos .cartao {
    border: 1px solid #ced0d4;
    display: flex;
    justify-content: flex-end;
    margin: 2px;
}

.box .info .metodos .cartao .botao {
    border: 1px solid;
    border-radius: 50%;
    border-color: #b7b8bb;
    width: 100%;
    margin: 10% 10%;
    background-color: rgb(18, 165, 209);
}

.box .info .metodos .pix .botao {
    border: 1px solid;
    border-radius: 50%;
    border-color: #b7b8bb;
    width: 100%;
    margin: 5.5% 10%;
}

.box .info .metodos {
    align-items: center;
}

.box .info .metodos .pix {
    border: 1px solid #ced0d4;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    margin: 2px;
}

#image_cartao{
    width: 70%;
    width: 70%;
    border-radius: 8%;
    margin: auto 0;
}

#image_pix{
    width: 70%;
    width: 70%;
    border-radius: 8%;
    margin: auto 0;
}

h1, h2, p{
    font-family: "NATS-Regular";
    font-style: normal;
    font-weight: 400;
    color: black;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 23px;
}