#background{
  width: 100vw;
  height: 100vh;
  left: 2%;
  top: 10%;
  background: transparent;
  overflow: auto;
  padding-top: 120px;
}
@media screen and (max-width: 1024px) {
  #background {
    width: 90%;
    height: 60vw;
    max-height: 900px;
    top: 20%;
  }
}

@media screen and (max-width: 768px) {
  #background {
    width: 95%;
    height: 50vw;
    max-height: 600px;
    top: 25%;
    left: 2.5%;
  }
}

@media screen and (max-width: 480px) {
  #background {
    width: 100%;
    height: 80vw;
    max-height: none;
    top: 0;
    left: 0;
    border-radius: 0;
  }
}


#retangulo_51 {
  position: absolute;
  width: 15%;
  height: 10%;
  left: 42%;
  top: 85%;
  background: #666666;
  border-radius: 10%;
  font-family: 'NATS';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw; /* ou 2.5vh, dependendo da sua preferência */
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
html {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.containergeral{
  flex-wrap: wrap;
  display: flex;
  padding: 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(23, 22, 20, 0.04) 0 4px 20px 12px;
  gap: 24px;
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  border: 2px solid #ced0d4;
  box-shadow: rgba(23, 22, 20, 0.04) 0 4px 20px 12px;
  justify-content: center;
}
.card-img-top {
  border-top-left-radius: 50px;
  border-top-right-radius: 5px;
}

.card-text {
  margin-bottom: 5px;
}

.btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #000000;
  border-color: #000000;
}
.card1 {
  top: 5%;
  width: 45%;
  height: 45%;
}
.card2{
  width: 45%;
  height: 30%;
}

