#main{
    background-image: url("../../../assets/images/image\ 8.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#background {
  position: absolute;
  width: 90%;
  max-width: 90%;
  height: 85vw;
  max-height: 85vw;
  left: 5%;
  top: 10%;
  background: rgba(255, 255, 255, 0.87);
  border-radius: 10%;
  
  
}


@media screen and (max-width: 1024px) {
  #background {
    width: 90%;
    height: 60vw;
    max-height: 900px;
    top: 20%;
  }
}

@media screen and (max-width: 768px) {
  #background {
    width: 95%;
    height: 50vw;
    max-height: 600px;
    top: 25%;
    left: 2.5%;
  }
}

@media screen and (max-width: 480px) {
  #background {
    width: 100%;
    height: 80vw;
    max-height: none;
    top: 0;
    left: 0;
    border-radius: 0;
  }
}


#retangulo_51 {
  position: absolute;
  width: 15%;
  height: 10%;
  left: 43%;
  top: 85%;
  background: #666666;
  border-radius: 10%;
  font-family: 'NATS';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw; /* ou 2.5vh, dependendo da sua preferência */
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
html {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.containergeral{
  position: relative;
  flex-wrap: wrap;
  display: flex;
  margin-top: 50px;
  margin-right: 37px;

}
.card-img-top {
  border-top-left-radius: 50px;
  border-top-right-radius: 5px;
  
}


.card-text {
  margin-bottom: 5px;
}


.btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff001e;
  border-color: #ff0000;
}
.card1 {
  
  top: 5%;
  width: 50%;
  height: 50%;
}
.card2{
  
  width: 50%;
  height: 30%;
}

